body { 
  padding-top: 51px; 
}

.navbar-text {
  float: right;
}

.fr {
  float: right;
}

.mt {
  margin-top: 20px;
}

.diff {
  p {
    padding: 5px;
  }
}

textarea.form-control.document-text-area {
  height: 300px;
}